<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'phoneLogIn.css' %}" type="text/css">
    <title>Document</title>
</head>
<body>
    <div id="profileCircle"></div>
    <div id="profileIcon">
        <img src="../static/photos/profileIcon.png" alt="profile icon">
    </div>
    <form method = "POST" action="">
        {% csrf_token %}
        <input id="userIdForm" type="text" name="username" placeholder="Username / Email" required="required"> <br>
        <input id="passForm" type="password" name = "password" placeholder="Password" required="required">
    </form>
    
    <div >
        <a href="../register"><button id="signUp">sign up</button></a>
    </div>
    <div >
        <button id="logIn">log in</button>
    </div>
    {% for message in messages %}
        <p id="messages">{{message}}</p>
    {% endfor %}
</body>
</html>